.headers{
     width: 100%;
    color: white;
    z-index: 20;
    
    .firstdiv{
        height: 40px;
        display: flex;
        color: white;
        width: 100%;
        margin-top: 2px;
        background-color: rgb(6, 95, 80);

        .ulli{
            display: flex;
            gap: 75px;
            margin-left: 200px;
            padding: 5px;
            padding-left: 55px;
            list-style: none;
        }
    }

    .seconddiv{
        height: 74px;
        background-color: black;
        color: white;
        margin-left: 0px;
        display: flex;

        .logo{
            margin-left: 30px;
            margin-top: 5px;
            line-height: 18px;
            width: auto;

            .brotot{
                color: white;
                font-size: 35px;
                height: 36px;
                font-weight: bold;
                .bro{
                    background-color: white;
                    color: black;
                    width: auto;
                    height: 18px;
                    font-size: 30px;
                    font-weight: bold;
                }
                .type{
                    padding-left: 5px;
                    background-color: black;
                    color: white;
                    width: auto;
                    height: 18px;
                    font-size: 30px;
                    font-weight: bold;
                }
            }
            .quotes{
                font-size: 14px;
                color: white;
                font-weight: bold;

            }
        }
        .ulli{
            display: flex;
            gap: 75px;
            margin-left: 15px;
            padding: 25px;
            padding-left: 55px;
            list-style: none;
        }
    }
}