.headers{
     width: 100%;
    color: white;
    z-index: 20;
    margin: 0px;
    
    .firstdiv{
        height: 40px;
        display: flex;
        color: white;
        width: 100%;
        margin-top: 2px;
        background-color: rgb(6, 95, 80);

        .ulli{
            display: flex;
            gap: 75px;
            margin-left: 200px;
            padding: 5px;
            padding-left: 55px;
            list-style: none;
        }
    }

    .seconddiv{
        height: 74px;
        background-color: black;
        color: white;
        margin-left: 0px;
        display: flex;
        
        .logo{
            margin-left: 30px;
            margin-top: 15px;
            line-height: 18px;
            width: auto;

            .brotot{
                color: white;
                font-size: 35px;
                height: 36px;
                font-weight: bold;
                .bro{
                    background-color: white;
                    color: black;
                    width: auto;
                    height: 18px;
                    font-size: 30px;
                    font-weight: bold;
                }
                .type{
                    padding-left: 5px;
                    background-color: black;
                    color: white;
                    width: auto;
                    height: 18px;
                    font-size: 30px;
                    font-weight: bold;
                }
            }
            .quotes{
                font-size: 14px;
                color: white;
                font-weight: bold;
                width: 194px;
                margin-top: -8px;
            }
        }
        .ulli{
            display: flex;
            gap: 45px;
            margin-left: 15px;
            padding: 25px;
            padding-left: 55px;
            list-style: none;

            .hbtn{
                width: 100px;
            }
            .ulogouthbtn{
                margin-left: 30px;
                border: none;
                transition: all 0.3s ease;
                overflow: hidden;
                content: " ";
                z-index: -1;
                top: 0;
                left: 0;
                width: 100px;
                height: 30px;
                 background-color: #1fd1f9;
                 background-image: linear-gradient(315deg, #2c19d8 0%, #069481 74%);
                transition: all 0.3s ease;

            }
               
            .ulogouthbtn:hover {
            background: white;
            box-shadow:  4px 4px 6px 0 rgba(3, 66, 68, 0.5),
                        -4px -4px 6px 0 rgba(3, 79, 82, 0.2), 
                inset -4px -4px 6px 0 rgba(3, 62, 70, 0.5),
                inset 4px 4px 6px 0 rgba(6, 74, 77, 0.3);
            color: black;
            }
            
            .uregisterhbtn{
                border: none;
                transition: all 0.3s ease;
                overflow: hidden;
                content: " ";
                z-index: -1;
                top: 0;
                left: 0;
                width: 100px;
                height: 30px;
                 background-color: #1fd1f9;
                 background-image: linear-gradient(315deg, #1dbb99 0%, #250b69 74%);
                transition: all 0.3s ease;

            }
               
            .uregisterhbtn:hover {
            background: white;
            box-shadow:  4px 4px 6px 0 rgba(3, 66, 68, 0.5),
                        -4px -4px 6px 0 rgba(3, 79, 82, 0.2), 
                inset -4px -4px 6px 0 rgba(3, 62, 70, 0.5),
                inset 4px 4px 6px 0 rgba(6, 74, 77, 0.3);
            color: black;
            }
        }
    }
}