.datable{
    width: 100%;
    height: 400;
    align-items: center;

    
    .cellAction{
        display: flex;
        align-items: center;
        gap: 15px;
    
        .stviewButton{
            border-radius: 5px;
            color: darkblue;
            cursor: pointer;
            border: 1px solid rgba(15, 15, 77, 0.295);
            width: 70px;
            height: 45px;
            padding-top: 1px;
            margin-top: 1px;
            
            .vsspan{
                padding-top: 5px;
            }
        }
    
        .deleteButton{
            padding: 2px;
            border-radius: 5px;
            color: crimson;
            cursor: pointer;
            border: 1px solid rgba(220, 20, 60, 0.342);
            width: 70px;
            height: 45px;
            padding-top: 1px;
            margin-top: 1px;
        }
    }
}

