.singlebranchs{
    width: 90%;
    padding: 20px;
    margin-top: 5%;
    margin-left: 5%;
    margin-bottom: 150px;
    gap: 40px;
    display: flex;
    height: auto;
    background-color: rgb(255, 255, 255);
}