.space{
  
    margin-bottom: 100px;
 }
 
 *{
    font-family: 'Poppins', sans-serif;
 }
 
 .buy-now-btn{
    background-color: #ff136f;
    color: #fff;
    padding: 10px 25px;
    border-radius: 8px;
    border: none;
 }
 
 .carousal-bg{
    background-color: #feeae8;
 }
 
 .carousel-item{
    padding: 20px 40px;
 }
 
 .price{
    color: #ff136f;
 }
 
 .cat1{
    background-color: #FFA500;
    color: #fff;
    
 }
 .cat2{
    background-color: #800080;
    color: #fff;
 }
 .cat3{
    background-color: #0000FF;
    color: #fff;
 }
 
 .cat1, .cat2 , .cat3{
    padding: 10px 30px;
    margin-top: 100px;
    border-radius: 10px;
 }
 
 .catagories img{
    width: 100px;
 }
 .cata{
    position: relative;
    top: 100px;
 }
 .shd{
    box-shadow: 2px 2px 4px 4px #767667;
 }
 
 .buy-now-btn1{
    background-color: #ff136f;
    color: #fff;
    padding: 12px 28px;
    border-radius: 8px;
    border: none;
 }
 
 .footer{
    background-color: #feeae8;
    height: 330px;
 }
 
 .footer-content input{
  padding: 6px 60px;
  border: 2px solid #ddd;
  border-radius: 5px;
 }
 
 .buy-now-btn3{
    background-color: #ff136f;
    color: #fff;
    padding: 10px 25px;
    border-radius: 8px;
    border: none;
    text-transform: uppercase;
    margin-top: 10px;
    margin-left: -220px;
 }
 
 .footer-content h2{
    text-transform: uppercase;
    font-weight: 400;
    position: relative;
    top: 10px;
    font-size: 33px;
 }
 .footer-content p{
    position: relative;
    top: 10px;
 }
 .footer-content{
    position: relative;
    top: 60px;
 }
 
 input:focus{
    border: 2px solid #ddd;
 }
 
 .copyright{
    position: relative;
    top: 90px;
    font-size: 20px;
 
 }