.single{
    display: flex;
    width: 100%;

    .singleContainer{
        flex: 6;
        display: grid;
        .top{
            padding: 20px;
            margin: 20px;                    
            gap: 20px;
            

            .title{
                margin-top: 20px;
                font-size: 25px;
                align-items: center;
                text-decoration: underline;
                margin-left: 45%;
            }

            .manifest{
                padding: 20px;
                margin: 20px;
                display: flex;            
                gap: 20px;
                flex: 3;            
            }
        }


.title{
    font-size: 22px;
    align-items: center;
    text-decoration: underline;
    margin-left: 7%;;
}
}   
}