.single{
    display: flex;
    width: 100%;

    .singleCntainer{
        flex: 6;        
        display: flex;
        
        .left{
            padding: 5px;
            // -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
            // box-shadow: 2px 4px 10px 1px rgba(122, 117, 117, 0.47);
             margin: 5px;
            width: 270px;
            display: flex;
            height: 300px;

            .userImg{
                width: 250px;
                height: 250px;
                border-radius: 50%;
                border-color: rgb(0, 0, 0);
                border: 10px;
                object-fit: cover;
            }
        }

        .center{
            padding: 20px;
            // -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
            // box-shadow: 2px 4px 10px 1px rgba(122, 117, 117, 0.47);
            // margin: 20px;
            // display: flex;
            width: 400px;
            line-height: 35px;

            .details{
                font-size: 15px;
            }
        }

        .right{
            padding: 2px;
            // -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
            // box-shadow: 2px 4px 10px 1px rgba(122, 117, 117, 0.47);
             margin: 2px;
            // margin-left: 10%;

            .userImg{
                width: 250px;
                height: 100%;
                border-color: rgb(0, 0, 0);
                border: 10px;
                object-fit: cover;
            }
        }
    }

}    



//         .top{
//             padding: 20px;
//             display: flex;
//             gap: 20px;

//             .left{
//                 flex: 3;
//                 padding: 20px;
//                 -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
//                 box-shadow: 2px 4px 10px 1px rgba(122, 117, 117, 0.47);
            

//                 .title{
//                     font-size: 25px;
//                     align-items: center;
//                     text-decoration: underline;
//                     margin-left: 45%;
//                 }

//                 .item{
//                     display: flex;
//                     gap: 20px;

//                     .userImg{
//                         width: 300px;
//                         height: 300px;
//                         border-radius: 50%;
//                         border-color: rgb(0, 0, 0);
//                         border: 10px;
//                         object-fit: cover;
//                     }

//                     .details{
//                         padding: 18px;

//                         .username{
//                             margin-bottom: 10px;
//                             color: rgb(116, 113, 113);
//                         }

//                         .detailItem{
//                             margin-bottom: 10px;
//                             font-size: 14px;

//                             .itemKey{
//                                 color: rgba(0, 0, 0, 0.801);
//                                 font-weight: bold;
//                                 margin-right: 10px;
//                             }

//                             .itemValue{
//                                 font-weight: 300;
//                                 color: black;
//                             }
//                         }
//                     }
//                 }
//             }

//             .right{
//                 flex: 1;
//                 padding: 20px;
//                 margin-top: 20px;
//                 -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
//                 box-shadow: 2px 4px 10px 1px rgba(122, 117, 117, 0.47);

//                 .userImg{
//                     width: 300px;
//                     height: 100%;
//                     border-radius: 1%;
//                     border-color: rgb(0, 0, 0);
//                     border: 10px;
//                     object-fit: cover;
//                 }
//            }
//         }
    

//     .bottom{
//         padding: 20px;
//         -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
//         box-shadow: 2px 4px 10px 1px rgba(122, 117, 117, 0.47);
//         margin: 20px;
//     }
  
//     .title{
//         font-size: 16px;
//         color: rgb(19, 18, 18);
//         margin-bottom: 20px;
//      }
//    }   
// }