.single{
    display: flex;
    width: 100%;

    .usersingleContainer{
        flex: 10;        
        display: flex;
        height: 100%;
        width: 100%;
        justify-content: center;
        align-items: center;
  
             .ucenter{
            padding: 20px;
            margin-left: 10px;
            width: 550px;
            line-height: 35px;
            text-transform: capitalize;
            font-size: 15px;
            line-height: 5px;
            .details{
              font-size: 15px;
              line-height: 5px;
              color: black;  
          }
        }
  
        .right{
            padding-left: 12px;
            margin: 2px;
  
            .mystudentsadImg{
                width: 250px;
                height: 450px;
                border-color: rgb(0, 0, 0);
                border: 2px;
                object-fit: cover;
            }
        }
    }

}    


