.list{
    display: flex;
    width: 100%;
    overflow: hidden;
    margin-top: 30px;

    .listContainer{
        flex: 6;

        .studtitle{
            width: 100%;
            align-items: center;
            margin-left: 40%;
            margin-top: 30px;

            .sttitle{
                margin-top: 35px;
                text-decoration: underline;
            }
        }  
        
        .studdatatable{
            margin-left: 10px;
            margin-top: 580px;
        }
    }
}