.reeviewstudent{
    margin-top: 25px;
    justify-content: center;
    align-items: center;
    width: 100%;
    .studtitle{
        font-size: 25px;
        font-weight: bold;
        text-decoration: underline;
        justify-content: center;
        align-items: center;
        height: 80px;
        padding-top: 20px;
        text-transform: uppercase;
        width: 100%;
        display: flex;
    }
    .revsecond{
      justify-content: center;
      align-items: center;
      width: 100%;
      display: flex;
    .studentstable{
        margin-top: 20px;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(4, 4, 4, 4.47);
    box-shadow: 2px 4px 10px 1px rgb(7, 7, 7);
    width: 800px;
    margin-left: 30px;

    .firstrow{
        background-color: rgb(25, 65, 48);
        color: white;
        font-weight: bold;
        height: 40px;
        padding: 30px;
        justify-content: center;
        align-items: center;

        >th{
          justify-content: center;
           align-items: center;
            padding-top: 1px;
            height: 30px;
        }        
    }
    tr{
        line-height: 35px;
        height: 40px;
    >td{
        padding-left: 50px;

    }   
  }
  .viewmygrpbutton{
    border-radius: 5px;
    color: darkblue;
    cursor: pointer;
    border: 1px solid rgba(15, 15, 77, 0.295);
    width: 100px;
    margin-left: -25px;
    padding-left: 0px;
  }

  .sviewmygrpbutton{
    border-radius: 5px;
    color: rgb(25, 65, 48);
    cursor: pointer;
    border: 1px solid rgba(3, 43, 28, 0.295);
    width: 100px;
    margin-left: 25px;
    padding-left: 0px;
  }

  .updatereviewbtn{
    border-radius: 5px;
    color: rgb(25, 65, 48);
    cursor: pointer;
    border: 1px solid rgba(3, 43, 28, 0.295);
    width: 100px !important;
    margin-left: 25px;
    padding-left: 0px;
  }

  .btn {
    background-color: white;
    width: 100px;
    color: rgb(66, 9, 57);
    border: 1px solid rgba(110, 7, 42, 0.295);
    font-weight: normal;
    font-size: 15px;
    align-items: center;
    justify-content: center;
}
}
}
}