.staffstudent{
    width: 100%;
    justify-content: center;
    align-items: center;
    .studhead{
        justify-content: center;
        align-items: center;
        width: 100%;
        display: flex;
    .stafstudtitle{
        font-size: 25px;
        font-weight: bold;
        text-decoration: underline;
        justify-content: center;
        align-items: center;
        height: 80px;
        text-transform: uppercase;
        margin-left: 70px;
    }
    .addgrp{
        margin-top: 115px;
        height: 36px;
        width: 126px;
        color: white;
        text-decoration: none;
        font-size: 15px;
        margin-left: 70px;
        background-color: rgb(25, 65, 48);
      }
    }
      .usersingleCntainer{
        flex: 10;        
        display: flex;
        margin-top: 1%;
        height: 100%;
        width: 100%;
        justify-content: center;
        align-items: center;
  
             .ucenter{
            padding: 20px;
            margin-left: 10px;
            width: 550px;
            line-height: 35px;
            text-transform: capitalize;
            font-size: 15px;
            line-height: 5px;
            .details{
              font-size: 15px;
              line-height: 5px;
              color: black;  
          }
        }
  
        .right{
            padding-left: 12px;
            margin: 2px;
  
            .mystudentsadImg{
                width: 250px;
                height: 450px;
                border-color: rgb(0, 0, 0);
                border: 2px;
                object-fit: cover;
            }
        }
    }

}