.usidebar{
  height: 800px;
  display: grid;
  margin-top: 5px;
  border-radius: 20px;
  width: 100%;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: 2px 4px 10px 1px rgba(4, 4, 4, 4.47);
  box-shadow: 2px 4px 10px 1px rgb(202, 195, 195);
  background-color: rgb(25, 65, 48);
  color: white;
  .pimg{
    margin-top: 12px;
    justify-content: center;
    align-items: center;
    height: 310px;
    .welcome{
      font-size: 20px;
      justify-content: center;
      align-items: center;
      margin-left: 30px;
      font-weight: bold;
    }
    .upro{
      height: 210px;
      width: 200px;
      justify-content: center;
      align-items: center;
      margin-left: 8px;
    }
    // .picicon{
    //   width: 80px;
    //   height: 80px;
    //   background-color: aqua;
    //   .inputimg{
    //     background-color: red;
    //   }
    //}
  }

  .uitems{
    margin-top: 5px;
    height: 500px;

    li{
      list-style: none;
      height: 50px;
      width: 100%;
      justify-content: center;
      align-items: center;
      padding-left: 35px;
    }
    
    .hr{
      color: white;
      font-weight: bold;
      width: 220px;
      border-width: 3px;
      margin-top: 0px;
    }
  }
  span{
    font-size: 15px;
    font-weight: bold;
    color: white;
    margin-top: 15px;
    margin-bottom: 5px;
    line-height: 50px;
    align-items: center;
    justify-content: center;
    margin-left: 25px;
  }
}