.usersingle{
  width: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
  .profile{
    color: rgb(5, 5, 5);
    width: 100%;
    padding: 15px;
    height: 50px;
    align-items: center;
    justify-content: center;
    // margin-left: 12em;
    margin-top: 3%;
    font-size: 30px;
    font-weight: bold;
    text-decoration: underline;
    text-transform: uppercase;
    display: flex;
  }
  .addman{
    background-color: rgb(5, 5, 5);
    width: 120px;
    height: 40px;
    margin-left: 27em;
    margin-top: 5%;
    align-items: center;
    justify-content: center;
  }
  .usersingleCntainer{
      flex: 10;        
      display: flex;
      margin-top: 3%;
      height: 100%;

           .ucenter{
          padding: 20px;
          margin-left: 10px;
          width: 550px;
          line-height: 35px;
          text-transform: capitalize;
          font-size: 15px;
          line-height: 5px;
          .details{
            font-size: 15px;
            line-height: 5px;

        }
      }

      .right{
          padding-left: 12px;
          margin: 2px;

          .useradImg{
              width: 250px;
              height: 450px;
              border-color: rgb(0, 0, 0);
              border: 2px;
              object-fit: cover;
          }
      }
  }

}    


