.mystudent1s{
        margin-top: 25px;
        justify-content: center;
        align-items: center;
        width: 100%;
        .studtitle{
            font-size: 25px;
            font-weight: bold;
            text-decoration: underline;
            justify-content: center;
            align-items: center;
            // margin-left: 12em;
            height: 80px;
            padding-top: 20px;
            width: 100%;
            text-transform: uppercase;
            display: flex;
        }
        .outer{
            justify-content: center;
            align-items: center;
            width: 100%;
            display: flex;
        .studentstable{

            margin-top: 20px;
        -webkit-box-shadow: 2px 4px 10px 1px rgba(4, 4, 4, 4.47);
        box-shadow: 2px 4px 10px 1px rgb(7, 7, 7);
        width: 630px;
        // margin-left: 30px;
        justify-content: center;
        align-items: center;
        .firstrow{
            background-color: rgb(25, 65, 48);
            color: white;
            font-weight: bold;
            height: 40px;
            justify-content: center;
            align-items: center;
    
            >th{
                padding-top: 1px;
                height: 30px;
                justify-content: center;
                align-items: center;
            }        
        }
        tr{
            line-height: 35px;
            height: 40px;
        >td{
            padding-left: 40px;
    
        }   
      }
      .viewmygrpbutton{
        border-radius: 5px;
        color: darkblue;
        cursor: pointer;
        border: 1px solid rgba(15, 15, 77, 0.295);
        width: 100px;
        margin-left: -25px;
        padding-left: 0px;
      }
    }
    }
    }