.heading{
    align-items: center;
    width: 40%;
    margin-left: 33%;
    margin-top: 35px;
}

.form{
    margin-left: 40%;
    .form-group{
        width: 600px;
        margin-left: 16%;

        // .btn{
        //     width: 200px;
        //     margin-left: 30%;
        //     margin-top: 2%;
        // }
    }
}