.task{
    margin-top: 25px;

    .body{
        display: grid;
        margin-top: 6px;
        width: 100%;
        justify-content: center;
        align-items: center;
    .review{
        margin-top: 20px;
        -webkit-box-shadow: 2px 4px 10px 1px rgba(4, 4, 4, 4.47);
        box-shadow: 2px 4px 10px 1px rgb(7, 7, 7);
        width: 600px;
        margin-left: 30px;
     .firstrow{
        background-color: rgb(25, 65, 48);
        color: white;
        font-weight: bold;
        height: 40px;
        justify-content: center;
        align-items: center;

        >th{
            
            padding-top: 1px;
            height: 30px;
        }        
    }
    tr{
        line-height: 35px;
        height: 40px;
        justify-content: center;
        align-items: center;
        width: 600px;
    >td{
        justify-content: center;
        align-items: center;
        padding-left: 50px;
        .taskobutton{
          border-radius: 5px;
          color: darkblue;
          cursor: pointer;
          border: 1px solid rgba(15, 15, 77, 0.295);
          width: 100px;
          justify-content: center;
          align-items: center;
        }
    }   
  }
  

  
    }

    .casual{
        margin-top: 40px;
        flex: 6;

        .mygrpss{
          margin-left: 80px;
          text-decoration: underline;
          font-weight: bold;
          font-size: 20px;
          text-transform: uppercase;
          color: black;
        }
      }
  }
  .title{
    font-size: 25px;
    font-weight: bold;
    text-decoration: underline;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 100%;
    padding-top: 20px;
    text-transform: uppercase;
    display: flex;
    .addgrp{
      margin-left: 137px;
      margin-top: 18px;
      height: 36px;
      width: 126px;
      color: white;
      text-decoration: none;
      font-size: 15px;
      background-color: rgb(25, 65, 48);
    }
  }
}