.homeallbranch{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 0px;
    gap: 75px;
    display: flex;
    height: auto;
    margin-left: 0px;
    justify-content: center;
    align-items: center;
    display: flex;
    padding-left: 30px;
    .left{
    width: 25%;
    // margin-left: 80px;
    .pic{
        height: 325px;
        width: 100%;
        justify-content: center;
        align-items: center;
        display: flex;
        .userImg{
            width: 300px;
            height: 300px;
            border-radius: 15px;
        }
    }

    .ername{
        margin-top: -54px;
        width: 280px;
        background-color: white;
        .ernakulam{
            padding-left: 20%;
            color: white;

        }
    }
}

.center{
    width: 25%;
    .pic{
        height: 325px;
        justify-content: center;
        align-items: center;
        display: flex;
        .userImg{
            width: 300px;
            height: 300px;
            border-radius: 15px;
        }
    }

    .ername{
        margin-top: -54px;
        width: 280px;
        background-color: white;
        .ernakulam{
            padding-left: 30%;
            color: white;
        }
    }
}

.right{
    width: 25%;
    justify-content: center;
    align-items: center;
    display: flex;
    .pic{
        height: 325px;
        .userImg{
            width: 300px;
            height: 300px;
            border-radius: 15px;
        }
    }

    .ername{
        margin-top: -64px;
        width: 280px;
        background-color: white;

        .ernakulam{
            padding-left: 22%;
            color: white;

        }
    }
}
}