.hcarous{
  margin-top: 25px;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  height: 400px;
  width:100%;
  overflow: hidden;

  .placeheading{
    width: 100%;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    display: flex;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    height: 50px;
  }
  .card{
   border: 1px solid #fff;
   border-radius: 8px;
   padding-left: 30px;
   background-color: white;
   height: 400px;
   .card-top{
       img{
         max-width: 100%;
         max-height: 100%;
         display: block;
         
       }
       
   }
   .heading{
    font-size: 15px;
    margin-top: 1px;
    margin-left: 0px;
    width: 250px;
   }
   .heading1{
    font-size: 15px;
    margin-top: 1px;
    margin-left: 0px;
    padding-left: 10px;
    font-weight: normal;
   }
   .heading2{
    font-size: 15px;
    margin-top: 3px;
    margin-left: 0px;
    font-weight: bold;
    padding-left: 10px;

   }
   .heading3{
    font-size: 15px;
    margin-top: 3px;
    margin-left: 0px;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    padding-left: 10px;
   }
}

  .slick-track{
   margin-top: -6rem;
}
.slick-slide img {
  padding-top: 25px;
   height:350px;
   width:350px;
}
.slick-arrow {
  color: black;
  background-color: white;
}
.slick-dots {
  bottom: -5px;
}
.slick-prev:before,
.slick-next:before {
    font-family:initial!important;
    color:black; 
    height: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    padding-top: -2px;
}
}